/* SECTION */
.contact-wrapper {
  background: #fbfaf6;
  padding: 100px 8%;
  min-height: 100vh;
}

/* LAYOUT */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.4fr; 
  gap: 80px;
  align-items: center;
}

/* LEFT SIDE */
.contact-left h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 10px 0;
  color:#072069;
  font-weight: 900;
}

.contact-tag {
  background: #d7f3ee;
  color: #00b4d8;
  font-size: 12px;
  padding: 6px 14px;
  border-radius: 999px;
  letter-spacing: 1px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 24px;
}

.desc {
  margin-bottom: 40px;
  max-width: 420px;
  line-height: 1.6;
}


.info-block {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
  align-items: flex-start;
}



/* RIGHT CARD */
.contact-form-card {
  background: #ffffff;
  padding: 32px 45px;
  border-radius: 24px;
  max-width: 700px; 
  width: 100%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.contact-form-card h2 {
  margin-bottom: 24px;
  font-size: 26px;
}

/* FORM */
.simple-contact-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 16px 18px;
  border-radius: 999px;
  border: 2px solid #d7f3ee;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
}

.form-group textarea {
  border-radius: 20px;
  resize: none;
}


.info-block {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.info-icon {
  width: 2.75rem;      
  height: 2.75rem;

  border-radius: 50%;
  background: #f2f6fa;   
  color: #072069;        

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}


/* ERROR */
.error-text {
  color: #ef4444;
  font-size: 12px;
  display: flex;
  gap: 4px;
  margin-top: 6px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-left h1 {
    font-size: 40px;
  }
}
