
.badge {
  display: inline-block;
  font-weight: 500;
  border-radius: 999px;
}

.badge-hero {
  margin-bottom: 0px;
  padding: 6px 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.badge-structure {
  color: #072069;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: #d8deeb;
}

.badge-home {
  padding: 8px 30px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #072069;
  background: #ccd9e8;
  box-sizing: border-box;
  border: 1px solid rgba(37, 99, 235, 0.25);
  backdrop-filter: blur(6px);
}


/* Dark Mode Support */
/* @media (prefers-color-scheme: dark) {
  .badge-hero {
    background-color: #0a2536 !important;
    color: #4698eb !important;
    border-color: #4698eb !important;
  }
  
  .badge-structure {
    background-color: #0a2536 !important;
    color: #4698eb !important;
  }
} */

.dark .badge-hero {
  background-color: #0a2536 !important;
  color: #4698eb !important;
  border-color: #4698eb !important;
}

.dark .badge-structure {
  background-color: #0a2536 !important;
  color: #4698eb !important;
}

@media (max-width: 768px) {
  .badge-hero {
    font-size: 0.8rem;
    padding: 5px 14px;
  }
  
  .badge-structure {
    font-size: 0.8rem;
    padding: 0.4rem 0.85rem;
  }
}
