/* Base Icon Box */
.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
}

.icon-box-hero {
  width: 72px;
  height: 72px;
  margin: 0 auto 20px;
  color: #072069;
  background: #d5dbeb;
  border-radius: 18px;
}


.icon-box-structure {
  width: 3rem;
  height: 3rem;
  background-color: rgb(216, 222, 235);
  margin-bottom: 1rem;
}

.icon-box-structure svg {
  color: rgb(7, 32, 105);
}


.icon-box-benefit {
  height: 56px;
  width: 56px;
  margin: 0 auto 12px auto;
  background-color: rgb(216, 222, 235);
}

.icon-box-benefit svg {
  height: 28px;
  width: 28px;
  color: rgb(7, 32, 105);
}

/* Responsive Design */
@media (max-width: 768px) {
  .icon-box-hero {
    width: 56px;
    height: 56px;
  }
}

.dark .icon-box-structure {
  background-color: #0a2536;
}

.dark .icon-box-structure svg {
  color: #4698eb;
  stroke: white;
}

.dark .icon-box-benefit {
  background-color: #0a2536;
}

.dark .icon-box-benefit svg {
  color: #4698eb;
  stroke: white;
}

.dark .icon-box-hero {
  background: #0a2536;
  color: #4698eb;
}

.dark .icon-box-hero svg {
  color: #4698eb;
  stroke: #4698eb;
}